

body {
  /* This style below will be inherited*/
  font-family: Roboto, Arial;
  margin: 0;
  margin-left: 20px;
  padding-top: 80px;
  padding-left: 98px;
  padding-bottom: 700px;
  padding-right: 24px;
  background-color: rgb(246, 246, 246);
}

@media (min-width: 1000px) {
  body{
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body{
    padding-left: 170px;
  }
}
  
